<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp uap5 rescap">

  <Identity
    Name="dbfbf87b-1d83-42df-8525-84bccbb8176b"
    Publisher="CN=Magicked"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="dbfbf87b-1d83-42df-8525-84bccbb8176b" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Dofus Multi Organizer</DisplayName>
    <PublisherDisplayName>Magicked</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="fr-FR"/>
    <Resource Language="en-US"/>
    <Resource Language="pt-BR"/>
    <Resource Language="es-ES"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Dofus Multi Organizer"
        Description="Gestionnaire multi-comptes Dofus"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <!-- Démarrage automatique avec Windows -->
        <uap5:Extension
          Category="windows.startupTask"
          Executable="DofusOrganizer.exe"
          EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask
            TaskId="DofusOrganizerStartup"
            Enabled="false"
            DisplayName="Dofus Multi Organizer" />
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <!-- Nécessaire pour QueryFullProcessImageName et SetForegroundWindow cross-process -->
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
